@font-face {
  font-family: Butler;
  src: url(../fonts/Butler-Font/Butler_Regular.otf);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background: #fff;
}

a {
  text-decoration: none;
}

/* CONTACTS */
.contacts-details {
  min-width: 100%;
  min-height: 100%;
  background: #fff;
  display: flex;
  line-height: 1.15;
  font-family: Candara, Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

/* contacts-image */
.contacts-details__photo {
  width: 35%;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.distortion {
  width: 100%;
  flex-basis: 35%;
}

.img-box img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  transition: filter 0.5s ease-in-out, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  width: 100%;
}

.img-box img:nth-child(1) {
  filter: blur(10px);
  opacity: 1;
  transform: translateX(50%) scaleX(2);
}

.img-box:hover img:nth-child(1) {
  filter: blur(0);
  opacity: 1;
  transform: translateX(0) scaleX(1);
}

.img-box:hover img:nth-child(2) {
  filter: blur(10px);
  opacity: 0;
  transform: translateX(-50%) scaleX(2);
}

/* end contacts-image */

/* contacts-content */
.contacts-details__content {
  width: 50%;
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 1%;
}

.content__box-title .box__title {
  margin-right: 130px;
  width: 165px;
  flex-shrink: 0;
}

.content__box {
  margin-bottom: 10px;
  display: flex;
}

.content__box .box__details {
  width: 100%;
}

.content__box-title .content__title {
  margin: 0 0 0 -4px !important;
}

.content__title {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__title-sublead.content__title-email {
  position: relative;
  top: 0;
  left: -100px;
}

.content__title-lead {
  margin: 0;
  padding: 0;
  font-size: 48px;
  text-transform: uppercase;
  font-family: Playfair Display, serif;
  font-weight: 400;
  line-height: 100px;
  color: #000;
}

.content__title-sublead {
  margin: 0;
  padding: 0;
  font-size: 47px;
  line-height: 50px;
  color: #858585;
  text-transform: uppercase;
  font-family: Playfair Display, serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.content__box .box__title {
  border-top: 1px dotted #b4b4b4;
  width: 165px;
  margin-right: 130px;
  flex-basis: 165px;
  flex-grow: 0;
  flex-shrink: 0;
}

.content__box-title .box__title {
  border: none;
}

.content__box .box__title > h3 {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.box__details-about li {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
  line-height: 28px;
}
/* end contacts-content */

/* aside-panel */
.aside-panel {
  position: fixed;
  right: 0px;
  top: 0;
  width: 15%;
  height: 100vh;
  z-index: 5;
}

.aside-panel__panel {
  border-left: 2px solid hsla(0, 0%, 56.9%, 0.2);
  width: 100%;
  height: 100%;
}

.aside-panel:hover .aside-panel__panel {
  background: #000;
  transition: all 0.5s;
}

/* aside-panel__text */
.aside-panel__text {
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
  transform: translate(-50%, -50%) rotate(-90deg);
  white-space: nowrap;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  color: #000;
  font-family: Butler, Helvetica, sans-serif;
}

.aside-panel:hover .aside-panel__text {
  color: #fff;
}

/* aside-panel__controls */
.aside-panel__controls {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 70px;
  z-index: 5;
}

.aside-panel__controls.off {
  display: none;
}

.magnetic-block {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin: -20px;
}

.round-button {
  width: 70px;
  height: 70px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  color: currentColor;
  background: none;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
  cursor: pointer;
  border: none;
}

.round-button__circle {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: none;
  border: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  pointer-events: none;
}
/* end aside-panel */

/* sidebar */
.hamburger {
  position: relative;
  right: 50%;
  top: 6%;
  z-index: 2;
  width: 50px;
  height: 23px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  transform: translateX(50%);
  background: #000;
}

.hamburger .hamburger__span {
  height: 3px;
  background: #fff;
  transition: all 0.3s ease-out;
  backface-visibility: hidden;
  margin: 5px auto;
}

.hamburger.on #one {
  transform: rotate(45deg) translateX(2px) translateY(4px);
}

.hamburger.on #two {
  opacity: 0;
}

.hamburger.on #three {
  transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

.sidebar {
  z-index: 1;
  top: 0px;
  position: fixed;
  background: #000;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-out;
  display: flex;
}

.link1:hover ~ .sidebar-cover .sidebar-cover__image-1 {
  opacity: 0;
}
.link1:hover ~ .sidebar-cover .sidebar-cover__image-2 {
  opacity: 1;
}
.link2:hover ~ .sidebar-cover .sidebar-cover__image-1 {
  opacity: 0;
}
.link2:hover ~ .sidebar-cover .sidebar-cover__image-3 {
  opacity: 1;
}
.link3:hover ~ .sidebar-cover .sidebar-cover__image-1 {
  opacity: 0;
}
.link3:hover ~ .sidebar-cover .sidebar-cover__image-4 {
  opacity: 1;
}
.link4:hover ~ .sidebar-cover .sidebar-cover__image-1 {
  opacity: 0;
}
.link4:hover ~ .sidebar-cover .sidebar-cover__image-5 {
  opacity: 1;
}
.link4:hover ~ .sidebar-cover .sidebar-cover__image-1 {
  opacity: 0;
}
.link5:hover ~ .sidebar-cover .sidebar-cover__image-6 {
  opacity: 1;
}

.link1,
.link2,
.link3,
.link4,
.link5 {
  display: inline-block;
  position: fixed;
  top: 30%;
  left: 65%;
  z-index: 2;
  padding: 20px 30px;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-size: 50px;
  font-weight: 700;
  font-family: Butler, Helvetica, sans-serif;
  text-decoration: none;
}

.link1:hover,
.link2:hover,
.link4:hover,
.link5:hover {
  color: #fff;
}
.link2 {
  margin-top: 135px;
}
.link3 {
  margin-top: 14%;
}
.link4 {
  margin-top: 269px;
}
.link5 {
  margin-top: 403px;
}

.sidebar-cover__image-1,
.sidebar-cover__image-2,
.sidebar-cover__image-3,
.sidebar-cover__image-5,
.sidebar-cover__image-6 {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity 1s;
}
.sidebar-cover__image-1 {
  background-image: url(../images/img1.jpg);
  background-size: cover;
  background-position: center;
  opacity: 1;
}
.sidebar-cover__image-2 {
  background-image: url(../images/img2.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0;
}
.sidebar-cover__image-3 {
  background-image: url(../images/img3.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0;
}
.sidebar-cover__image-5 {
  background-image: url(../images/img5.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0;
}
.sidebar-cover__image-6 {
  background-image: url(../images/img6.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0;
}

.sidebar.active {
  visibility: visible;
  opacity: 0.99;
}
.sidebar-back__title {
  font-family: Butler, Helvetica, sans-serif;
  font-size: 260px;
  font-weight: 300;
  line-height: 1.133333333333333;
  position: absolute;
  top: 50%;
  left: 62%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0.05;
  color: #fff;
}
/* end sidebar */

/* icon GitHub */
.github-socials {
  position: fixed;
  left: 70px;
  bottom: 70px;
  font-size: 30px;
  z-index: 5;
}
.section2.github-socials {
  position: absolute;
}
.github-socials__social {
  text-decoration: none;
  cursor: pointer;
  position: relative;
  opacity: 1;
  text-align: center;
  justify-content: center;
}
.icon {
  color: #fff;
}
/* end icon GitHub */
